<table class="table table-responsive table-striped">
        <tr>
          <th>Event Name</th>
          <td>{{event?.eventName}}</td>
        </tr>
        <tr>
          <th>Event ID</th>
          <td>{{event?.eventId}}</td>
        </tr>
        <tr>
          <th>Event Date</th>
          <td>{{event?.eventDate}}</td>
        </tr>
        <tr>
          <th>Event Duration</th>
          <td>{{event?.eventDuration}}</td>
        </tr>
        <tr>
          <th>Judge Name</th>
          <td>{{event?.judgeName}}</td>
        </tr>
        <tr>
          <th>Defendant Name</th>
          <td>{{event?.defendantName}}</td>
        </tr>
        <tr>
          <th>Case Number</th>
          <td>{{event?.caseNumber}}</td>
        </tr>
        <tr>
          <th>Room Number</th>
          <td>{{event?.roomNumber}}</td>
        </tr>
      </table>